
\.idea/codeStyles/

.idea/Commoditytracker.iml

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/dataSources/906bfaa5-f078-4b32-82e3-7aac6202e094.xml

.idea/dataSources/906bfaa5-f078-4b32-82e3-7aac6202e094/storage_v2/_src_/schema/main.uQUzAA.meta

.idea/dbnavigator.xml

.idea/deployment.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
